@font-face {
    font-family: "Nunito-Regular";
    src: url("../../utils/fonts/Nunito-Regular.ttf") format("truetype");
}

.cardItens {
    font-family: "Nunito-Regular";
    display: flex;
    border: 1px solid #C8C8C8;
    border-radius: 10px;
    padding: 10px;
    width: 89.8%;
    margin-left: 6.5vh;
    margin-top: 0.7vh;
    justify-content: space-around;
}

.statusAgendaNovo {
    background-color: #f4ff93;
    border: none;
    border-radius: 50px;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.statusAgendaPreparando {
    background-color: #ffd493;
    border: none;
    border-radius: 50px;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.statusAgendaPronto {
    background-color: #8CEC25;
    border: none;
    border-radius: 50px;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.statusAgendaEntregue {
    background-color: #25ECE0;
    border: none;
    border-radius: 50px;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.cardTitle {
    font-family: "Nunito-Regular";
    background-color: #FFEAF1;
    border-radius: 10px;
    padding: 0.1vh;
    padding-left: 1vw;
    width: 90.8%;
    margin-left: 6.5vh;
    margin-top: 0.7vh;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.4s ease, color 0.4s ease;
}

.titleContent {
    margin-left: 15px;
    display: flex;
    justify-content: space-between; /* Mantém o título e a quantidade de pedidos na mesma linha */
    width: 95%;
    align-items: center;  /* Alinha a seta e o texto na mesma linha */
}

.titleContent2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.setaLista {
    margin-right: 10px;  /* Espaço entre a seta e o título */
    width: 16px;         /* Ajuste o tamanho da seta conforme necessário */
    height: 16px;
}

.cardTitleSelect {
    font-family: "Nunito-Regular";
    background-color: #FF94BB;
    border-radius: 10px;
    padding: 0.1vh;
    padding-left: 1vw;
    width: 90.8%;
    margin-left: 6.5vh;
    margin-top: 0.7vh;
    cursor: pointer;
    transition: background-color 0.4s ease, color 0.4s ease; /* Transição de cor */
}

.divValores1 {
    width: 10%;
}

.divValores2 {
    width: 16%;
}

.divValores3 {
    width: 6%;
}

.divValores4 {
    width: 8%;
}

.seta {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.listContainer {
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
    overflow: scroll;
}

.listContainer::-webkit-scrollbar {  
    display: none;
} 
  
.open {
    max-height: 100vh;  /* Large enough to accommodate the content */
}

.cardItens {
    font-family: "Nunito-Regular";
    display: flex;
    border: 1px solid #C8C8C8;
    border-radius: 10px;
    padding: 10px;
    width: 89.8%;
    margin-left: 6.5vh;
    margin-top: 0.7vh;
    justify-content: space-around;
}

.setaLista {
    margin-right: 10px;
    width: 16px;
    height: 16px;
    transition: transform 0.3s ease-in-out; /* Adiciona a transição suave */
}

.up {
    transform: rotate(180deg); /* Gira a seta 180 graus quando a lista está aberta */
}

.down {
    transform: rotate(0deg); /* Seta na posição original quando a lista está fechada */
}

.openNestedListMainContainer, .closedNestedListMainContainer {
    margin-left: 2vw;
}

.openNestedListMainContainer {
    overflow: visible;
}

.closedNestedListMainContainer {
    overflow: hidden;
}

/* Novo, Preparando, Pronto, Fazendo, Entregue */
@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .cardTitle {
        margin-left: 2.5vh;
    }

    .cardTitleSelect {
        margin-left: 2.5vh;
    }

    .cardItens {
        margin-left: 2.5vh;
        flex-direction: column;
        width: 86%;
    }

    .divValores1 {
        width: 100%;
    }

    .divValores2 {
        width: 100%;
    }

    .divValores3 {
        width: 100%;
    }

    .divValores4 {
        width: 100%;
        margin-left: 2%;
    }

    .seta {
        justify-content: center;
        background-color: #eeb8ca;
        padding: 2%;
        border-radius: 10px;
    }

    .openNestedListMainContainer, .closedNestedListMainContainer {
        margin-left: 0;
    }
}

@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
    .cardTitle {
        margin-left: 2vh;
        width: 92%;
    }

    .cardTitleSelect {
        margin-left: 2vh;
        width: 92%;
    }

    .cardItens {
        margin-left: 2vh;
        flex-direction: column;
        width: 89%;
    }

    .divValores1 {
        width: 100%;
    }

    .divValores2 {
        width: 100%;
    }

    .divValores3 {
        width: 100%;
    }

    .divValores4 {
        width: 100%;
        margin-left: 2%;
    }

    .seta {
        justify-content: center;
        background-color: #eeb8ca;
        padding: 2%;
        border-radius: 10px;
    }
}

@media screen and (min-device-width: 769px) and (max-device-width: 1024px) {
    .cardTitle {
        margin-left: 2vh;
        width: 92%;
    }

    .cardTitleSelect {
        margin-left: 2vh;
        width: 92%;
    }

    .cardItens {
        margin-left: 2vh;
        flex-direction: column;
        width: 89%;
    }

    .divValores1 {
        width: 100%;
    }

    .divValores2 {
        width: 100%;
    }

    .divValores3 {
        width: 100%;
    }

    .divValores4 {
        width: 100%;
        margin-left: 2%;
    }

    .seta {
        justify-content: center;
        background-color: #eeb8ca;
        padding: 2%;
        border-radius: 10px;
    }
}

@media screen and (min-device-width: 1025px) and (max-device-width: 1200px) {
    .cardTitle {
        margin-left: 0;
    }

    .cardTitleSelect {
        margin-left: 0;
    }

    .cardItens {
        margin-left: 0;
    }

    .seta {
        padding: 2%;
    }
}
