@font-face {
    font-family: "Nunito-Regular";
    src: url("../../utils/fonts/Nunito-Regular.ttf") format("truetype");
}

.innerContainer {
    display: flex;
    flex-direction: column;
    width: 100%; 
}

.innerContainerSearch {
    display: flex;
    justify-content: space-between;
    width: 87.2%;
    margin-top: 3vh;
    margin-left: 4%;
} 

.containerInputs {
    display: flex;
    width: 360px;
    justify-content: center;
    justify-content: space-between;
}

.containerButton {
    display: flex;
    justify-content: flex-start;
}

.containerButton button {
    margin-left: 0px;
}

.mainContainer {
    display: flex;
    /* width: 100%; */
}

.produtoBreadcrumbsContainer {
    margin-left: 6.5vh;
    padding-top: 5vh;
}

/* ESSE CARA TA BUGADO */
.produtoTittleCard {
    background-image: linear-gradient(to left, #E5246B, #DE0052);
    display: flex;
    width: 85.25%;
    max-height: 20vh;
    margin-top: 3vh;
    flex-direction: column;
    justify-content: center;
    margin-left: 6.5vh;
    /* padding: 2.5vh; */
    border-radius: 12px;
} 
.containerTittleCard {
    display: flex;
    width: 100%;
    /* justify-content: center; */
}

.dashboardTittleCard {
    margin-left: 0px;
    width: 85%;
}

.dashboardTittleCard {
    background-image: linear-gradient(to left, #E5246B, #DE0052);
    display: flex;
    width: 85.25%;
    max-height: 20vh;
    margin-top: 3vh;
    flex-direction: column;
    justify-content: left;
    margin-left: 6.5vh;
    padding: 2.5vh;
    border-radius: 12px;
}

.dashboardTittleCard h2,
.dashboardTittleCard p {
    margin-left: 3vh !important;
    color: white;
}

.dashboardTittleCard h2 {
    font-family: 'Nunito-Regular';
    font-weight: 600;
    margin: 0;
    margin-bottom: 1.5vh;
}

.dashboardTittleCard p {
    font-family: 'Nunito-Regular';
    font-weight: 400;
    margin: 0;
}

.produtoTittleCard h2,
.produtoTittleCard p {
    margin-left: 3vh !important;
    color: white;
}

.produtoTittleCard h2 {
    font-family: 'Nunito-Regular';
    font-weight: 600;
    margin: 0;
    margin-bottom: 1.5vh;
}

.produtoTittleCard p {
    font-family: 'Nunito-Regular';
    font-weight: 400;
    margin: 0;
}

.containerInputs {
    display: flex;
}


/* Cards */

.content-musicas {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    /* overflow-y: hidden; */
    margin-left: 7vh;
    margin-right: 7vh;
    /* justify-content: ; */
    align-content: flex-start;

}

.quadrado {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    margin: 0.2rem 0 0 0.4rem;
}

.content-musicas::after {
    content: '';
    height: 2rem;
    flex-basis: 100%;
}

.content-musicas::before {
    content: '';
    height: 1rem;
    flex-basis: 100%;
}

@media screen and (max-width: 1056px) {
    .quadrado {
        flex-basis: calc(99% - 20px);
    }
    .produtoBreadcrumbsContainer {
        display: none;
    }

}

@media screen and (max-width: 900px) {
    .quadrado {
        flex-basis: calc(45% - 20px);
    }
    .produtoBreadcrumbsContainer {
        display: none;
    }
    .containerInputs{
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .produtoTittleCard {
        width: 60%;
    }
    .produtoBreadcrumbsContainer {
        display: none;
    }
}

@media screen and (max-width: 520px) {
    .quadrado {
        flex-basis: 100%;
    }
    .produtoBreadcrumbsContainer {
        display: none;
    }
    .dashboardTittleCard {
        width: 89.9%;
        margin: 0;
        border-radius: 0;
    }
}