.component-stories-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.component-stories-container .row {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid gray;
    padding-bottom: 3vh;
}

.component-stories-container .row-item {
    display: flex;
    flex-direction: column;
    margin-right: 5vh;
}