@font-face {
    font-family: "Nunito-Regular";
    src: url("../../../utils/fonts/Nunito-Regular.ttf") format("truetype");
  }
  
  .input-calendar-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .input-label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
  }
  
  .input-calendar {
    border-radius: 25px;
    border: 1px solid #ccc;
    font-size: 14px;
    width: 235px;
    height: 43px;
    padding-left: 20px;
    outline: none;
    font-family: Nunito-Regular;
    padding-right: 15px;
  }
  
  .input-calendar-error {
    border-color: #4B24E5;;
  }
  
  .label-content {
    font-size: 16px;
    color: #303030;
    font-family: Nunito-Regular;
  }
  
  .error-message {
    color: #4B24E5;;
    font-size: 12px;
    margin-top: 5px;
    font-family: Nunito-Regular;
  }
  