@font-face {
    font-family: "Nunito-Regular";
    src: url("../../utils/fonts/Nunito-Regular.ttf") format("truetype");
}

.excluirPedidoModal .excluirPedidoModalHeader .modalTitle {
    font-size: 150%;
    font-weight: bolder;
    font-family: 'Nunito';
}

.excluirPedidoModal .excluirPedidoModalHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Nunito';
}

.excluirPedidoModal .excluirPedidoModalHeader .exitButton {
    width: auto;
    height: 30px;
    font-family: 'Nunito';
}

.excluirPedidoModal .excluirPedidoModalHeader .exitButton:hover {
    cursor: pointer;
    font-family: 'Nunito';
}

.excluirPedidoModal .excluirPedidoModalContentContainer {
    display: flex;
    flex-direction: column;
}


.excluirPedidoModal .excluirPedidoModalContentContainer {
    display: flex;
    width: 100%;
    height: 50%;
    margin-top: 5vh;
    align-items: center;
    justify-content: center;
}
.excluirPedidoModal .excluirPedidoModalContentContainer .imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.excluirPedidoModal .excluirPedidoModalContentContainer .imageContainer img {
    width: 15%;
    height: 15%;
}

.excluirPedidoModal .excluirPedidoModalFooter {
    display: flex;
    margin-top: 5vh;
}

.excluirPedidoModal .excluirPedidoModalFooter .excluirPedidoModalLeftContainer {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: start;
}

.excluirPedidoModal .excluirPedidoModalFooter .excluirPedidoModalRightContainer {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: end;
}