@font-face {
    font-family: "Nunito-Regular";
    src: url("../../utils/fonts/Nunito-Regular.ttf") format("truetype");
}

.mainContainer {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.innerContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.breadCrumbsContainer {
    margin-left: 6.5vh;
    padding-top: 5vh;
}

.tittleCard {
    background-image: linear-gradient(to left, #E5246B, #DE0052);
    display: flex;
    width: 85.25%;
    max-height: 20vh;
    margin-top: 3vh;
    flex-direction: column;
    justify-content: center;
    margin-left: 6.5vh;
    padding: 2.5vh;
    border-radius: 12px;
}

.tittleCard h2,
.tittleCard p {
    margin-left: 3vh !important;
    font-family: 'Nunito-Regular';
    color: white;
    margin: 0.6vh;
}

.configuracaoMainContainer {
    display: flex;
    flex-direction: row;
    height: 50%;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.logoImage {
    max-width: 35vh;
    max-height: 35vh;
}

.logoCadastroImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35vh;
    height: 35vh;
    background-color: #D9D9D9;
    border-radius: 10px;
}

.logoCadastroImage:hover {
    cursor: pointer;
    img {
        opacity: 50%;
    }
}

.logoCadastroImage img {
    width: auto;
    height: 25%;
}

.inputsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

.inputsContainerLine1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7%;
}

.inputsContainerLine2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7%;
}

.inputsContainerLine3 {
    display: flex;
    justify-content: space-between;
}

.responsividadeInput {
    width: 48%;
}

.responsividadeButton {
    width: 25%;
}

@media screen and (max-width: 600px) {
    .tittleCard {
        width: 100%;
        margin: 0;
        border-radius: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .configuracaoMainContainer {
        flex-direction: column;
        align-items: center;
    }

    .mainContainer {
        display: block;
    }

    .breadCrumbsContainer {
        display: none;
    }

    .inputsContainer {
        flex-direction: column;
        align-items: center;
    }

    .inputsContainerLine1 {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 0;
    }

    .inputsContainerLine2 {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 0;
    }

    .inputsContainerLine3 {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 5vh;
        margin-bottom: 20vh;
    }

    .responsividadeInput {
        margin-top: 5%;
        width: 100%;
    }

    .responsividadeButton {
        margin-top: 5%;
        width: 100%;
    }

    .imageContainer {
        width: 100%;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
}