body {
    margin: 0px;
}

/* Sidebar  */

.sidebar {
    height: 100vh;
    width: 220px;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to top, #E5246B, #DE0052);
    transition: width 0.5s; /* Corrigido de 0.0.200s para 0.5s */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
    position: sticky; top: 0; bottom: 0;

}

.sidebar-content img {
    cursor: pointer;
}

.minimizar-div img {
    cursor: pointer;
}
.sidebar-closed {
    width: 76.27px; 
    transition: width 0.5s;
}

.sidebar-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.sidebar-logo {
    display: flex;
    width: 80% !important;
    display: flex;
}

/* Sidebar Header */

.sidebar-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 10%;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 50px;
    padding-top: 50px;

}

.sidebar-closed .sidebar-header {
    height: 2% !important;
}

.divisao-header {
    height: 2px;
    width: 80%;
    background-color: white;
    border-radius: 100px;
}

@font-face {
    font-family: "Palace";
    src: url("../../utils/fonts/Palace.ttf") format("truetype");
}

.sidebar-header span {
    font-family: "Palace";
    font-size: 48px;
}

.sidebar-closed .divisao-header {
    width: 60px;
    height: 2px;
    border-radius: 100px;
}

/* Sidebar Content */

.sidebar-content {
    display: flex;
    flex-direction: column;
    height: 30%;
    width: 100%;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin-top: 10vh;

}

.sidebar-closed .sidebar-content {
    margin-top: 0;
}

.sidebar-content .div-item a {
    color: white;
}
/* Div-item */

.div-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 76%;
    gap: 10px;
    height: 100%;
    width: 80%;
    padding-left: 10px;
    transition: background-color 0.2s ease-in-out;
    border-radius: 12px;
}

.div-item a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    /* padding-left: 20px;
    padding-right: 20px; */
    padding-top: 10px;
    padding-bottom: 10px;
    width: 80%;
    height: 100%;
    color: #000;
    font-family: "arial";
    text-decoration: none;
    transition: background-color 0.2s;
}

/* .div-item:hover {
    background-color: #17ACD9;
    border-radius: 12px;
} */

.sidebar-closed .div-item a {
    display: none; 
}

.sidebar-closed .div-item {
    padding-left: 0;
}

/* Minimizar-div */

.minimizar-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    padding-top: 50px;
}

.sidebar-closed .minimizar-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    padding-top: 50px;
}   

.sidebar-content img, .div-bola img {
    width: 17px;
    height: 17px;
}

#accessibility-mobile {
    display: none;
}

@media screen and (max-width: 600px) {  
    .sidebar {  
        height: 10vh !important;  
        width: 100vw !important;  
        margin-top: 90vh !important;
        flex-direction: row !important;  
        bottom: 0 !important;  
        position: fixed;
        z-index: 10;
        left: 0;
    }  
    .sidebar-closed .minimizar-div {  
        height: 10vh;  
        width: 100vw;
    }  
    .sidebar-content {  
        display: flex;  
        flex-direction: row;  
        height: 100%;
        justify-content: center;  
        align-items: center;  
        justify-content: center;  
        margin-top: 0;
    }  
    .div-item {
        align-items: center;
        justify-content: center;
        margin: 0;
        width: 10%;
    }
    .sidebar-content img, .div-bola img {
        width: 25px;
        height: 25px;
    }
    .sidebar-logo, .divisao-header,
    .minimizar-div, .sidebar-closed .minimizar-div {
        display: none;
    }
    #accessibility-mobile {
        align-items: center;
        justify-content: center;
        display: flex;
    }
    .sidebar-header {
        display: none !important;
    }
}  

@media screen and (max-width: 400px) {
    .div-item {
        align-items: center;
        justify-content: center;
        margin: 0;
        width: 15%;
    }
}