@font-face {
    font-family: "Nunito-Regular";
    src: url("../../utils/fonts/Nunito-Regular.ttf") format("truetype");
}

.mainContainer {
    display: flex;
}

.innerContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.dashboardBreadcrumbsContainer {
    margin-left: 6.5vh;
    padding-top: 5vh;
}

.dashboardTittleCard {
    background-image: linear-gradient(to left, #E5246B, #DE0052);
    display: flex;
    width: 85.25%;
    max-height: 20vh;
    margin-top: 3vh;
    flex-direction: column;
    justify-content: center;
    margin-left: 6.5vh;
    padding: 2.5vh;
    border-radius: 12px;
}

.dashboardTittleCard h2,
.dashboardTittleCard p {
    margin-left: 3vh !important;
    color: white;
}

.dashboardTittleCard h2 {
    font-family: 'Nunito-Regular';
    font-weight: 600;
    margin: 0;
    margin-bottom: 1.5vh;
}

.dashboardTittleCard p {
    font-family: 'Nunito-Regular';
    font-weight: 400;
    margin: 0;
}

.marginButtons{
    display: flex;
    justify-content: space-between;
}

.DivSpace {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}

.DivActions {
    display: flex;
    align-items: center;
    width: 87.50%;
    justify-content: space-between;
    padding-top: 6.5vh;
    padding-left: 0.5vh;
    margin-left: 3vw;
}

.DivButtonTrocarVisualizacao {
    display: flex;
    pad: 15px;
    width: 8%;
    justify-content: space-between;
    align-items: center;
}

.IconAgenda {
    width: 24px;
    height: 34px;
    cursor: pointer;
}

.IconKanban {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.BackgroundColorIcon {
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: #F8BBC2;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Responsividade */

@media (max-width: 1056px) {

    .dashboardBreadcrumbsContainer {
        display: none;
    }

    .containerTittleCard {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .dashboardTittleCard {
        margin-left: 0px;
        width: 85%;
    }

    .DivButtonTrocarVisualizacao {
        justify-content: space-between;
        align-items: center;
        width: 11%;
        margin-right: 4vh;
    }
}

@media (max-width: 768px) {
    
    .dashboardBreadcrumbsContainer {
        display: none;
    }

    .containerTittleCard {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .dashboardTittleCard {
        margin-left: 0px;
        width: 85%;
    }

    .DivActions {
        padding-left: 2.5vh;
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin-left: 4.5vh;
    }

    .DivButtonTrocarVisualizacao {
        justify-content: space-between;
        align-items: center;
        width: 15%;
    }

}

@media (max-width: 576px) {

    .dashboardBreadcrumbsContainer {
        display: none;
    }

    .containerTittleCard {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .dashboardTittleCard {
        width: 85%;
    } 

    .DivActions {
        padding-left: 2.5vh;
        display: flex;
        justify-content: space-between;
    }

    .DivButtonTrocarVisualizacao {
        justify-content: space-between;
        align-items: center;
        width: 25%;
    }

    .dashboardTittleCard {
        width: 100%;
        height: 20vh;
        margin-top: 0vh;
        margin-left: 0vh;
        padding: 0vh;
        border-radius: 0px;
    }
    
}

