@font-face {
    font-family: "Nunito-Regular";
    src: url("../../utils/fonts/Nunito-Regular.ttf") format("truetype");
}

.modalTitle {
    font-size: 150%;
    font-weight: bolder;
    font-family: 'Nunito';
}

.goalChartModalHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Nunito';
}

.exitButton {
    width: auto;
    height: 30px;
    font-family: 'Nunito';
}

.exitButton:hover {
    cursor: pointer;
    font-family: 'Nunito';
}

.dateInputs {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    font-family: 'Nunito';
}

.modalButtons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 4%;
    font-family: 'Nunito';
}

.inputIcon {
    position: absolute;
    right: 10px;
    pointer-events: none;
    width: 20px;
    height: 20px;
}

.div-input-dates-1 {
    width: 50%;
}

.div-input-dates-2 {
    width: 50%;
}
.div-button-1 {
    width: 25%;
    display: flex;
    justify-content: start;
}

.div-button-2 {
    width: 25%;
    display: flex;
    justify-content: end;
}

@media screen and (max-width: 560px) {
    .modalButtons{
        flex-direction: column;
    }
    .div-button-1 {
        margin-bottom: 2vh;
    }
    .div-button-1, .div-button-2 {
        width: 100%;
    }
    .dateInputs {
        flex-direction: column;
        margin-bottom: 2vh;
    }
    .div-input-dates-1, .div-input-dates-2 {
        width: 100%;
    }
}