@font-face {
    font-family: "Nunito-Regular";
    src: url("../../utils/fonts/Nunito-Regular.ttf") format("truetype");
}

.mainContainer {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.responsividadeInputNomeProduto {
    width: 48%;
}

.responsividadeInputPreco {
    width: 23%;
}

.responsividadeInputMedida {
    width: 23%;
}

.responsividadeInput50 {
    width: 48%;
}

.responsividadeInputMassa {
    width: 48%;
}

.responsividadeInputRecheio {
    width: 48%;
}

.responsividadeInputDescricao {
    width: 65%;
}

.responsividadeInputTipo {
    width: 31%;
}

.innerContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.produtoBreadcrumbsContainer {
    margin-left: 6.5vh;
    padding-top: 5vh;
}

.buttonCadastro {
    width: 25%;
}

.produtoCadastroTittleCard {
    background-image: linear-gradient(to left, #E5246B, #DE0052);
    display: flex;
    width: 85.25%;
    max-height: 20vh;
    margin-top: 3vh;
    flex-direction: column;
    justify-content: left;
    margin-left: 6.5vh;
    padding: 2.5vh;
    border-radius: 12px;
}

.produtoCadastroTittleCard h2 {
    font-family: 'Nunito-Regular';
    font-weight: 600;
    margin: 0;
    margin-bottom: 1.5vh;
}

.produtoCadastroTittleCard p {
    font-family: 'Nunito-Regular';
    font-weight: 400;
    margin: 0;
}

.produtoCadastroTittleCard h2,
.produtoCadastroTittleCard p {
    margin-left: 3vh !important;
    font-family: 'Nunito-Regular';
    color: white;
}

.produtoCadastroMainContainer {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.productImage {
    max-width: 35vh;
    max-height: 35vh;
}

.produtoCadastroImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35vh;
    height: 35vh;
    background-color: #D9D9D9;
    border-radius: 10px;
}

.produtoCadastroImage:hover {
    cursor: pointer;
    img {
        opacity: 50%;
    }
}

.produtoCadastroImage img {
    width: auto;
    height: 25%;
}

.inputsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
}

.inputsContainerLine1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.inputsContainerLine2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 5%;
}

.inputsContainerLine3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 5%;
}

.inputsContainerLine4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 5%;
}

.inputsContainerLine5 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    margin-top: 5%;
}

@media screen and (max-width: 600px) {
    .produtoCadastroTittleCard {
        width: 100%;
        margin: 0;
        border-radius: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .mainContainer {
        display: block;
    }
    
    .inputsContainer {
        width: 80%;
    }

    .produtoBreadcrumbsContainer {
        display: none;
    }

    .produtoCadastroMainContainer {
        flex-direction: column;
        align-items: center;
    }

    .inputsContainerLine1 {
        flex-direction: column;
        align-items: center;
    }

    .inputsContainerLine2 {
        flex-direction: column;
        align-items: center;
    }

    .inputsContainerLine3 {
        flex-direction: column;
        align-items: center;
    }

    .inputsContainerLine4 {
        flex-direction: column;
        align-items: center;
    }

    .inputsContainerLine5 {
        flex-direction: column;
        align-items: center;
    }

    .responsividadeInputNomeProduto {
        margin-top: 5%;
        width: 100%;
    }
    
    .responsividadeInputPreco {
        margin-top: 5%;
        width: 100%;
    }
    
    .responsividadeInputMedida {
        margin-top: 5%;
        width: 100%;
    }
    
    .responsividadeInput50 {
        margin-top: 5%;
        width: 100%;
    }

    .responsividadeInputRecheio {
        width: 100%;
    }

    .responsividadeInputMassa {
        width: 100%;
    }
    
    .responsividadeInputDescricao {
        width: 100%;
    }
    
    .responsividadeInputTipo {
        margin-top: 5%;
        width: 100%;
    }

    .imageContainer {
        width: 100%;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }

    .inputsContainerLine5 {
        margin-top: 5vh;
        margin-bottom: 20vh;
    }

    .buttonCadastro {
        width: 100%;
    }
    
}