@font-face {
    font-family: "Nunito-Bold";
    src: url("../../../utils/fonts/Nunito-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Nunito-Regular";
    src: url("../../../utils/fonts/Nunito-Regular.ttf") format("truetype");
}

.donutChartContainer {
    max-width: 48%;
    margin-top: 4vh;
}

.donutChartBox {
    border: 1px solid #BBBBBB;
    border-radius: 24px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 50vh;
    align-items: center;
    justify-content: center;
}

.donutChartHeader {
    justify-content: space-around;
    display: flex;
}

.donutChartText {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1vh;
    margin-top: 5vh;
}

.donutChartText h2 {
    font-family: 'Nunito-Bold';
    font-weight: 600;
    font-size: 20px;
    margin: 0;
}

.donutChartText p {
    font-family: 'Nunito-Regular';
    font-weight: 400;
    margin: 0;
}

.donutChartSelectOption {
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
}

.donutChart {
    display: flex;
    width: 100%;
    height: 65%;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.1vh;
}

@media screen and (max-width: 1100px) {
    .donutChartBox {
        width: 100%;
    }
    .donutChartText p {
        font-size: medium !important;
    }
}

@media screen and (max-width: 560px) {
    .donutChartContainer {
        max-width: 80%;
        align-items: center;
        justify-content: center;
    }
    .donutChartBox {
        width: 90%;
    }
    .donutChartText p {
        font-size: medium !important;
    }
}