@font-face {
    font-family: "Nunito-Regular";
    src: url("../../utils/fonts/Nunito-Regular.ttf") format("truetype");
}

.innerContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.mainContainer{
    display: flex;
}

.dashboardBreadcrumbsContainer{
    margin-left: 6.5vh;
    padding-top: 5vh;
}

.dashboardTittleCard {
    background-image: linear-gradient(to left, #E5246B, #DE0052);
    display: flex;
    width: 85.25%;
    max-height: 20vh;
    margin-top: 3vh;
    flex-direction: column;
    justify-content: center;
    margin-left: 6.5vh;
    padding: 2.5vh;
    border-radius: 12px;
}

.dashboardTittleCard h2, .dashboardTittleCard p {
    margin-left: 3vh !important;
    color: white;
}

.dashboardTittleCard h2 {
    font-family: 'Nunito-Regular';
    font-weight: 600;
    margin: 0;
    margin-bottom: 1.5vh;
}

.dashboardTittleCard p {
    font-family: 'Nunito-Regular';
    font-weight: 400;
    margin: 0;
}

.chartContainer {
    display: flex;
    justify-content: space-evenly !important;
    width: 90%;
    margin-left: 5vh;
}

@media screen and (max-width: 1100px) {
    .chartContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly !important;
        align-items: center;
        width: 90%;
        margin-left: 5vh;
    }
}