.divKanban {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 24px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin-bottom: 16px;
    width: 200px;
    position: relative;
    font-family: Arial, sans-serif;
    border-left: 4px solid #3498db; /* Linha colorida na lateral esquerda */
}

.DivCardContent {
    margin-left: 16px;
    width: 100%;
}

.DivCardContent h3 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.DivCardContent p {
    margin: 4px 0;
    font-size: 14px;
    color: #666;
}

/* Responsividade para os Cards */
@media (max-width: 1056px) {

}

@media (max-width: 768px) {

}

@media (max-width: 480px) {

}
